<div class="mx-auto justify-center mt-10 flex flex-wrap">
  <% if @cams %>

    <% @cams.each do |cam| %>
    
      <div class="w-96 relative">
        <%= link_to(show_cam_url(cam.id)) do %>
          <img class="z-0" src="data:<%= cam.screenshot_mime %>;base64, <%= cam.screenshot_data %>"
               alt="<%= cam.city + ", " + cam.country_name %>" />
        <% end %>
        <span class="z-10 right-4 bottom-4 absolute block bg-black/50 px-2 py-1 rounded-full">
          <%= ISO3166::Country.new(cam.country_code).emoji_flag %>
        </span>
      </div>
      
    <% end %>
    
  <% end %>
</div>
