<div class="flex flex-wrap p-8 bg-white gap-4 justify-between">

        <div class="w-full">
          <h1 class="text-4xl font-bold text-violet-800"><%= @shodan_api_key.key %></h1>
        </div>


        <!-- display key limits -->
        <div class="pt-1 text-xl text-slate-600">
          <span class="">&ldquo;<%= @shodan_api_key.plan %></span>&rdquo;<span class="text-slate-500"> &mdash;</span>
          <span class="smallcaps">query</span>: <%= number_with_delimiter(@shodan_api_key.query_credit_limit) %> <span class="text-slate-500">&bull;</span>
          <span class="smallcaps">scan</span>: <%= number_with_delimiter(@shodan_api_key.scan_credit_limit) %> <span class="text-slate-500">&bull;</span>
          <span class="smallcaps">ip monitoring</span>: <%= number_with_delimiter(@shodan_api_key.monitored_ip_limit) %>
        </div>
        
        <!-- display current key credit standing -->
        <div class="pt-1 text-sm text-slate-600">
          
         
        </div>
        
</div>
  
